<div class="pre-owned-vehicles-list-container">
  <table class="table">
    <thead class="table-dark" style="background-color:#333A40;">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Marca</th>
        <th scope="col">Línea</th>
        <th scope="col">Modelo</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let vehicle of preOwnedVehicles">
        <td>{{ vehicle.id }}</td>
        <td>{{ vehicle.marca }}</td>
        <td>{{ vehicle.linea }}</td>
        <td>{{ vehicle.modelo }}</td>
      </tr>
  </table>

  <div *ngFor="let marca of getVehiclesPerMarca() | keyvalue">
    <div>Total {{ marca.key }}: {{ marca.value }}</div>
  </div>
</div>
