.navbar {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 8% 0 8%;
}

.navbar_title {
  font-size: 36px;
  font-weight: 400;
  font-family: 'Jaldi', sans-serif;
  text-shadow: 2px 0px 10px rgba(0, 0, 0, 0.8);
  align-self: start;
}

.horizontal_line {
  border: none;
  height: 2px;
  background-color: #0000005B;
  margin: 0.8% 0 1.5% 0;
  width: 100%;
}

.sidebar {
  width: 220px;
  margin-right: 1rem;
  position: sticky;
  align-self: flex-start;
  height: fit-content;
  overflow: auto;
  margin: 0 30px 0 30px;
  padding: 10px;
}

.menu-item {
  background-color: transparent;
  border-bottom: #0000001A 1px solid;
  border-bottom: 4px solid transparent;
  border: none;
  font-size: 14px;
  font-weight: bold;
  height: 50px;
  text-align: left;
  width: 100%;
}

.menu-item:hover {
  transform: scale(1.02);
  box-shadow: inset 0 0 0 2px #0000001A;
}

.menu-item.is-active {
  border-left: 4px solid #0000003B;
  background-color: #0000001A;
}

.menu-item:focus-visible {
  outline: none;
}

.app-layout {
  min-height: calc(100vh - 120px);
  display: flex;
}
