<nav class="navbar">
  <div class="navbar_title align-self-start">TuSegundazo.com</div>
  <hr class="horizontal_line" />
  <img src="../assets/b79368daa7d11e00c3910f6f7cd28ca0f636f431.png" alt="Logo" style="width: 1244px;" />
  <hr class="horizontal_line" />
</nav>

<div class="app-layout">
  <aside class="sidebar p-3 cf-rounded cf-shadow">
    <button type="button" class="menu-item" [class.is-active]="vistaSeleccionada==='home'"
      (click)="mostrarVista('home')">
      Inicio
    </button>
    <button type="button" class="menu-item" [class.is-active]="vistaSeleccionada==='new_vehicles'"
      (click)="mostrarVista('new_vehicles')">
      Vehículos (Nuevos)
    </button>
    <button type="button" class="menu-item" [class.is-active]="vistaSeleccionada==='pre_owned_vehicles'"
      (click)="mostrarVista('pre_owned_vehicles')">
      Vehículos (Segunda mano)
    </button>
  </aside>

  <section class="content-area w-100">
    <app-temp-screen-advice *ngIf="vistaSeleccionada === 'home'"></app-temp-screen-advice>
    <app-temp-screen-advice *ngIf="vistaSeleccionada === 'new_vehicles'"></app-temp-screen-advice>
    <app-pre-owned-vehicles-list *ngIf="vistaSeleccionada === 'pre_owned_vehicles'"></app-pre-owned-vehicles-list>
  </section>
</div>
